.container {
  margin: 0 auto;
  width: 1200px;
}
/* header */
#header {
  font-family: "GmarketSans";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #dcdcdc;

  z-index: 1000;
}
#header > .header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#header > .header__inner > #nav {
}
#header > .header__inner > #nav > ul {
}
#header > .header__inner > #nav > ul > li {
  display: inline-block;
}
#header > .header__inner > #nav > ul > li > a {
  font-size: 14px;
  margin: 0 15px;
  padding: 5px 20px;
  color: #3b95ff;
  border: 1px solid #3b95ff;
  border-radius: 50px;
  transition: color 0.3s, background-color 0.3s;
}
#header > .header__inner > #nav > ul > li > a:hover {
  color: #fff;
  background-color: #3b95ff;
}

#header > .header__inner > #nav > ul > li > a.active {
  color: #fff;
  border: 1px solid #3b95ff;
  background-color: #3b95ff;
  border-radius: 50px;
  transition: color 0.3s, background-color 0.3s;
}

/* footer */
#footer {
  font-family: "GmarketSans";
  background-image: url("../image/footerImage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#footer > .footer__inner {
}
#footer > .footer__inner > p {
  box-sizing: border-box;
  color: #fff;
  padding: 30px;
  text-align: center;
  font-weight: 300;
  line-height: 1.4;
}

/* header 반응형 */
@media (max-width: 480px) {
  #header > .header__inner > #nav > ul > li > a {
    font-size: 11px;
    margin: 0 2px;
    padding: 3px 5px;
    color: #3b95ff;
    border: 1px solid #3b95ff;
    border-radius: 50px;
    transition: color 0.3s, background-color 0.3s;
  }
}
/* footer 반응형 */
@media (max-width: 480px) {
  #footer > .footer__inner > p {
    padding: 20px;
    line-height: 1.6;
    font-size: 13px;
  }
}
