#intro {
  overflow: hidden;
  font-family: "GmarketSans";
  position: relative;
  height: 100vh;
  background-color: #3b95ff;
}
#intro > .intro__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
#intro > .intro__inner > .intro__titleBox {
  position: relative;
  margin-right: 50px;
  z-index: 5;
}
#intro > .intro__inner > .intro__titleBox > h1 {
  margin-bottom: 50px;
  font-size: 90px;
  color: #fff;
  line-height: 1.2;
}
#intro > .intro__inner > .intro__titleBox > h1 > em {
  font-weight: 600;
  text-shadow: 0 0 10px #0257b8;
}
#intro > .intro__inner > .intro__titleBox > p {
  font-size: 25px;
  font-weight: 300;
  color: #fff;
}
#intro > .intro__inner > .intro__titleBox > p > em {
  font-weight: 400;
}

#intro > .intro__inner > .intro__poroImage {
  width: 500px;
  height: 404px;
  background-image: url("../image/poroImage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#intro > .intro__circle01 {
  position: absolute;
  top: -200px;
  left: -200px;
  width: 600px;
  height: 600px;
  background-color: #fff;
  opacity: 0.5;
  border-radius: 50%;
}
#intro > .intro__circle02 {
  position: absolute;
  bottom: -200px;
  left: 500px;
  width: 400px;
  height: 400px;
  background-color: #fff;
  opacity: 0.7;
  border-radius: 50%;
}
#intro > .intro__circle03 {
  position: absolute;
  top: -200px;
  right: -150px;
  width: 650px;
  height: 650px;
  background-color: #fff;
  opacity: 0.5;
  border-radius: 50%;
}

@media (max-width: 480px) {
  .container {
    width: 90%;
  }
  #intro > .intro__inner {
    position: absolute;
    display: block;
    align-items: center;
    justify-content: center;
  }
  #intro > .intro__inner > .intro__titleBox {
    margin-right: 0;
  }
  #intro > .intro__inner > .intro__titleBox > h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
  }
  #intro > .intro__inner > .intro__titleBox > p {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  #intro > .intro__circle01 {
    opacity: 0.3;
  }
  #intro > .intro__circle02 {
    bottom: -250px;
    left: 20px;
    width: 420px;
    height: 420px;
    opacity: 0.1;
  }
  #intro > .intro__circle03 {
    width: 450px;
    height: 450px;
    opacity: 0.2;
  }
  #intro > .intro__inner > .intro__poroImage {
    margin: 0 auto;
    width: 300px;
    height: 154px;
  }
}
