#restrictedCondition {
  position: relative;
  font-family: "GmarketSans";
  /* background-image: url('../image/joinCondition_background.png'); */
  padding: 120px 0;
  z-index: -1;

  background-color: #ffe9f1;
}
#restrictedCondition > .joinCondition__inner {
}
#restrictedCondition > .restrictedCondition__inner > h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
#restrictedCondition > .restrictedCondition__inner > h3 > em {
  position: relative;
  font-weight: 600;
}
#restrictedCondition > .restrictedCondition__inner > h3 > em::before {
  position: absolute;
  bottom: 5px;
  content: "";
  width: 100%;
  height: 10px;
  background: #FF7C95;
  z-index: -1;
}
#restrictedCondition > .restrictedCondition__inner > p {
  text-align: center;
  font-weight: 300;
  margin-bottom: 50px;
}
#restrictedCondition > .restrictedCondition__inner > .restrictedCondition__box {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}
#restrictedCondition > .restrictedCondition__inner > .restrictedCondition__box > article {
  box-sizing: border-box;
  padding: 50px;
  width: 33.33333333333333%;
}
#restrictedCondition > .restrictedCondition__inner > .restrictedCondition__box > article > h5 {
  font-size: 25px;
  margin-bottom: 20px;
}
#restrictedCondition > .restrictedCondition__inner > .restrictedCondition__box > article > h5 > em {
  font-size: 16px;
  color: #FFBADB;
}
#restrictedCondition > .restrictedCondition__inner > .restrictedCondition__box > article > p {
  font-weight: 300;
  line-height: 1.4;
}
#restrictedCondition > .restrictedCondition__inner > .restrictedCondition__box > article > p > em {
  font-weight: 400;
}
#restrictedCondition > .restrictedCondition__inner > .restrictedCondition__box > .double_box {
  background-color: #FF7C95;
}
#restrictedCondition > .restrictedCondition__inner > .restrictedCondition__box > .double_box > .double_ico {
  width: 50px;
  height: 50px;
  background-image: url("../image/joinCondition_ico.svg");
  background-position: -180px;
  margin-bottom: 20px;
}
#restrictedCondition > .restrictedCondition__inner > .restrictedCondition__box > .madman_box {
  background: #FF6482;
}
#restrictedCondition > .restrictedCondition__inner > .restrictedCondition__box > .madman_box > .madman_ico {
  width: 50px;
  height: 50px;
  background-image: url("../image/joinCondition_ico.svg");
  background-position: -240px;
  margin-bottom: 20px;
}
#restrictedCondition > .restrictedCondition__inner > .restrictedCondition__box > .blame_box {
  background: #FF4367;
}
#restrictedCondition > .restrictedCondition__inner > .restrictedCondition__box > .blame_box > .blame_ico {
  width: 50px;
  height: 50px;
  background-image: url("../image/joinCondition_ico.svg");
  background-position: -300px;
  margin-bottom: 20px;
}
